<div class="container-fluid p-3">
  <div class="row">
    <div class="col-lg-9 col-md-8">
      <div class="row mb-3">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              Convert Stuff
            </div>
            <div class="card-body p-0">
              <textarea [(ngModel)]="converterService.inputObject.input" placeholder="Paste pathology results here..."></textarea>
              <div class="toolbar d-flex flex-row">
                <div class="btn-circular mr-auto ml-3 mb-3 mt-3" (click)="clearForm()" [inlineSVG]="'assets/images/icon-delete.svg'"></div>
                <div class="btn-circular mr-3 mb-3 mt-3" (click)="convertPathologyResults()" [inlineSVG]="'assets/images/icon-convert.svg'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3" *ngIf="converterService.resultObject.resultString">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              Formatted Results
            </div>
            <div class="card-block no-padding">
              <textarea #inputTarget>{{converterService.resultObject.resultString}}</textarea>
              <div class="toolbar d-flex flex-row-reverse">
                <div class="btn-circular mb-3 mr-3 mt-3" [ngxClipboard]="inputTarget" [inlineSVG]="'assets/images/icon-copy.svg'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <app-settings></app-settings>
    </div>
  </div>
</div>
<div class="footer p-3">
  <small>Thank you, junior medical staff, for the amazing work you do. &mdash; Blake Mumford</small>
</div>


<!--<div class="row">-->
<!--<div class="col-lg-4">-->
<!--<div class="alert alert-info">-->
<!--<span>Copy to MS Word table:  </span>-->
<!--<kbd>Alt</kbd> + <kbd>N</kbd> + <kbd>T</kbd> + <kbd>V</kbd>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->