@import "../styles/colors";

.card {
  border-radius: 0;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  .question {
    min-height: 64px;
  }
  .tag-container {
    border-top: solid 1px $blue-grey-100;
    height: 45px;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .card-body {
      display: flex;
      flex-direction: column;
      .toolbar {
        margin-bottom: 1em;
      }
    }
  }
}

.card-header {
  padding: 0.5em 0.7em;
  background-color: $card-header-color;
  &:first-child {
    border-radius: 0;
  }
  text-transform: uppercase;
  font-size: 16px;
  color: $card-header-font-color;
}
