@import '../../../node_modules/sass-material-design-colors/palette';

$app-background-color: $blue-grey-50;
$app-accent-color: $cyan-900;
//Cards
$card-header-color: $cyan-900;
$card-header-font-color: $blue-grey-50;

$icon-hover-color: $cyan-900;