<div class="card">
  <div class="card-header">
    Settings
  </div>
  <div class="card-body">
    <fieldset>
      <legend>Delimiter:</legend>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" [value]="' '" checked="checked" [(ngModel)]="settingsService.delimiter" (ngModelChange)="updateSettings()">
        <label class="custom-control-label" for="customRadioInline2">Spaces</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" [value]="'&#9;'" [(ngModel)]="settingsService.delimiter" (ngModelChange)="updateSettings()">
        <label class="custom-control-label" for="customRadioInline1">TSV</label>
      </div>
    </fieldset>
    <fieldset>
      <legend>Sort By Date:</legend>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sortDeseendingTrue" name="sortDeseending" class="custom-control-input" checked="checked" [value]="true" [(ngModel)]="settingsService.sortDescending" (ngModelChange)="updateSettings()">
        <label class="custom-control-label" for="sortDeseendingTrue">Descending</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="sortDeseendingFalse" name="sortDeseending" class="custom-control-input" [value]="false" [(ngModel)]="settingsService.sortDescending" (ngModelChange)="updateSettings()">
        <label class="custom-control-label" for="sortDeseendingFalse">Ascending</label>
      </div>
    </fieldset>
    <fieldset>
      <div>
        <input type="checkbox" id="stripLH" [(ngModel)]="settingsService.stripLH" (ngModelChange)="updateSettings()"/>
        <label for="stripLH">Strip Low/High</label>
      </div>
      <div>
        <input type="checkbox" id="customFormatting" [(ngModel)]="settingsService.customFormatting" (ngModelChange)="updateSettings()"/>
        <label for="customFormatting">Custom Formatting</label>
      </div>
      <div class="formatting-area" *ngIf="settingsService.customFormatting">
        <textarea [(ngModel)]="settingsService.format" (ngModelChange)="updateSettings()"></textarea>
        <input type="checkbox" id="includeOthers" [(ngModel)]="settingsService.includeOthers" (ngModelChange)="updateSettings()"/>
        <label for="includeOthers">Include Other Tests</label>
        <button (click)="settingsService.resetFormatting()">Reset</button>
      </div>

    </fieldset>
    <hr/>
    <div *ngIf="converterService.uniqueTestTypes.length > 0">Select test types:</div>
    <div class="d-flex flex-wrap">
      <div *ngFor="let testResult of converterService.testResults | testTypeFilter">
        <div (click)="toggleTestResult(testResult.type)" class="test-type" [ngClass]="{'active': !testResult.type.isExcluded}">
          {{testResult.type.name}}
        </div>
      </div>
    </div>
  </div>
</div>
