@import "../../assets/styles/colors";

.test-type{
  border: solid 1px $blue-grey-100;
  margin: 5px;
  padding: 2.5px 8px;
  user-select: none;
  cursor: pointer;

  &.active{
    background-color: $app-accent-color;
    color: white;
    border: solid 1px $app-accent-color;
  }
}

.formatting-area {
  width: 100%;
  textarea {
    width: 100%;
  }
}

legend {
  font-size: 1em;
}

.about-card {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
  .card {
    margin: 5% auto; /* 15% from the top and centered */
    width:70%; /* Could be more or less, depending on screen size */
  }
}
